.col {
  margin: 1rem 0;
}

.main-header {
  margin: 1rem 0;
  font-weight: 500;
}

.container-fluid {
  height: 100%;
}

.box {
  height: 100%;
  overflow: auto;
}

.row {
  height: 45%;
  overflow: auto;
}