.main-header {
  padding: 1rem 0 0 1rem;
  font-weight: 500;
}

.container-fluid {
  height: 100%;
  overflow: hidden;
}

.grid-container {
  width: 100%;
  display: inline-grid;
  grid-template-columns: auto auto;
  height: 90%;
}

.grid-item {
  padding: 1rem;
  font-size: 1rem;
  text-align: center;
  overflow-y: auto;
  height: 100%;
  min-height: 15rem;
}