<div class="container-fluid">
  <h1 class="main-header">{{"sidebar.matrix" | translate}}</h1>
  <div class="grid-container" cdkDropListGroup>
    <app-task-list class="grid-item" [taskList]="urgentImportant" [listProperty]="high"></app-task-list>
    <app-task-list class="grid-item" [taskList]="notUrgentImportant" [listProperty]="low"></app-task-list>
    <app-task-list class="grid-item" [taskList]="urgentUnimportant" [listProperty]="medium"></app-task-list>
    <app-task-list class="grid-item" [taskList]="notUrgentUnimportant" [listProperty]="none"></app-task-list>
  </div>
</div>