.container-fluid {
  height: 100%;
  overflow: hidden;
}

.main-header {
  margin-left: 1rem;
  font-weight: 500;
}

.grid-container {
  height: 95%;
  width: 100%;
  display: inline-grid;
  grid-template-columns: auto auto;
}

.grid-item {
  padding: 0.5rem;
  font-size: 1rem;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  min-height: 40vh;
  min-width: 40vw;
}