.error-card {
  margin-top: 10vh;
  text-align: center;
}

.error-header {
  font-size: 10rem;
  line-height: 10rem;
  margin-bottom: 1rem;
}

.error-content {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}