@import './styles/material-theme';

html, body { 
  height: 100%; 
}

body { 
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.settings-card {
  width: 100%;
  padding: 3rem;
  border-radius: 0.5rem;

  .mat-card-header {
    margin-bottom: 3rem;
  }
}